<!DOCTYPE html>
<html>

<head>
	<title>NGO Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="style.css" rel="stylesheet" type="text/css" media="all" />

</head>

<body>

		<div style="width: 100%; display: table;">
			<div style="display: table-row; height: 100px;">
				<div style="width: 50%; display: table-cell;">
					<button onclick="location.href='Register.html'"><</button> 
				</div>
				<div style="display: table-cell;"> 
					<h1 style="font-family:'Brush Script MT',cursive;color: aliceblue;">NGO Profile</h1>
				</div>
			</div>
		</div>
		

		<div class="main">
			<div class="row">
				<div class="column">
					<h2 style="font-family:'Brush Script MT',cursive;color: black;">Contact Details</h2>
				</div>
				<div class="column">
					<h3 style="font-family:'Brush Script MT',cursive;color: grey;">Step 2 of 2</h3>
				</div>
			</div>
			<form action="#" method="post">
				<input type="tel" name="telphone" pattern="[0-9]{10}" title="Ten digits code"
					placeholder="Phone Number (Official)" required />
				<input type="url" name="website" placeholder="Website" required /><br><br>
				<div class="row">
					<div class="column">
						<h2 style="font-family:'Brush Script MT',cursive;color: black;">Address Details</h2>
					</div>
					<div class="column">
					</div>
				</div>
				<input class="text" type="text" name="Address" placeholder="Address" required="">
				<input class="text" type="text" name="City" placeholder="City" required="">
				<input class="number" type="text" name="Pincode" placeholder="Pincode" required="">
				<input class="text" type="text" name="State" placeholder="State" required="">
				<button type="submit" class="foot">Submit</button>
			</form>
		</div>
	</div>
	</div>
	<!-- //main -->
</body>

</html>